:root {
	--main-color1: white; /* Background */
	--main-color2: black; /* text */
	--highlight-color: #FF4A80;
}


@font-face {
	src: url("https://fonts.googleapis.com/css2?family=Lexend");
	font-display: swap;
	font-family: 'Lexend', sans-serif;
}
.material-symbols-outlined {
	font-size: 1.7vw !important;
}
html {
	background-color: var(--main-color1);
	font-family: "Lexend", sans-serif;
	color: var(--main-color2);
}

body {
	margin: 0px;
	overflow-x: hidden;
}

h1 {
	font-size: 12vw;
	margin-right: 20px;
	margin-left: 0.5vw;
	margin-top: 70px;
	margin-bottom: 10px;
}

h2 {
	font-size:1.7vw;
	margin-left: 1.6vw;
	margin-top:10px;
}

nav {
	font-size: 1.7vw;
	line-height: 2.2;
	margin-left: 45px;
	margin-right: 77px;
	margin-top: 100px;
	text-align: right;
}

a {
	color: var(--main-color2);
	text-decoration: none;
}

img {
	width: 100%;
	object-fit: cover;
	overflow: clip;
}

.banner {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 5px;
	margin-top: 4%;
	margin-left: 6%;
	margin-right: 6%;
	margin-bottom: 5%; 
	padding-bottom: 15.5%;
	width: 88%;
}
/* for phones mostly*/
@media (orientation: portrait) {
	.banner {
		grid-template-columns: 1fr;
		padding-bottom: 5%;
		
	}
	nav {
		margin-top: 10px;
		margin-left: 0;
		text-align: left;
	}
	h1 {
		font-size: 20vw;
	}
	h2 {
		font-size: 3.4vw;
	}
	.content > div {
		border-radius: 12px !important;
	}
	.content > div > h3 {
		font-size: 1.9vw !important;
		margin-bottom: 8px !important;
	}
	.material-symbols-outlined {
		font-size: 3.4vw !important;
	}

	/*slightly reduced animation*/
	@keyframes fadeIn {
		0% {
			opacity: 0.1;
			transform: translateY(18px);
			filter: blur(2px);
		}
		100% {
			opacity: 1;
		}
	}
}

.content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: dense;
	gap: 11px;
	margin-top: 5em;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 50px;
	padding-bottom: 100px;
	width: 80%;
}
.content > div {
	border-radius: 20px;
	background-color: #EFF7F6;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	height: 100%;
}

.contenthover {
	filter: opacity(1);
	transition: all 0.8s ease;
}
.contenthover:hover {
	filter: opacity(0.8);
}

@keyframes hover {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0.8;
	}
}
.content > div > h3 {
	display: inline-block; 
	align-self: flex-end;
	font-size: 1vw;
	margin: 20px;
	margin-bottom: 15px;
	margin-top: 430px;
	color: var(--main-color1);
	font-weight: 400;
	font-style: normal;
}

/* Swap between Home, Renders, and Illustrations */
.pictureFilter {
	display: grid;
	grid-template-columns: 0.5% 1fr;
	margin-left: 3%;
}
.pictureFilter > h2 {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 2%;
	padding: 2px;
}
#selected {
	background-color: var(--highlight-color);
}

/* styling for the boxes on the sketches page*/
.sketches > div{
	border: 1px solid black;
	background-size: cover;
}
.sketches > div > h3 {
	color: black;
}
/*used for the home page*/
.sketch {
	border: 1px solid black;
	background-size: cover;
}
.sketch > h3 {
	color: black !important;
}

.butterfly {
	position: absolute;
	mix-blend-mode: difference;
	filter: brightness(1.7) hue-rotate(110deg) invert(1);
}

.date {
	margin-left: auto !important;
}

#hello {
	padding-bottom: 15%;
}

/* Scroll bar styling*/
::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background-color: var(--main-color2);
	border-left: 3px solid var(--main-color1);
	border-right: 3px solid var(--main-color1);
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: var(--highlight-color);
}

@keyframes move1 {
	0% {transform: translateY(1000px);}
	100% {transform: translateY(2000px);}
}


@keyframes fadeIn {
	0% {
		opacity: 0.1;
		transform: translateY(20px);
		filter: blur(3px);
	}
	100% {
		opacity: 1;
	}
}


@media (prefers-reduced-motion: no-preference) {
	.reveal {
		animation: fadeIn 1s ease 1;
		animation-fill-mode: both;
	}
	.reveal2 {
		animation: fadeIn 2s ease 1;
		animation-fill-mode: both;
	}


	/* -------------- Butterfly animation -----------------*/
	@keyframes move {
		0% {transform: translateY(440px);}
		100% {transform: translateY(-2000px);}
	}
	

	@keyframes move1 {
		0% {
			transform: translateX(-440px) translateY(100px);
		}
		100% {
			transform: translateX(2000px) translateY(-650px);
		}
	}
	@keyframes flap1 {
		0% {top: calc(45px * var(--order) - 15px);} 
		59% {top: calc(45px * var(--order));}
		100% {top: calc(45px * var(--order) - 15px);}
	}
	@keyframes flap2 {
		0% {top: calc(45px * var(--order));} 
		59% {top: calc(45px * var(--order) - 15px);}
		100% {top: calc(45px * var(--order));}
	}
}


#theme_Select {
	background-color: var(--highlight-color);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	bottom: 50px;
	right: 60px;
	border-width: 0;
}



._1x2 {
	grid-row: span 2;
	grid-column: span 1;
}
._2x1 {
	grid-row: span 1;
	grid-column: span 2;
}
._2x2 {
	grid-row: span 2;
	grid-column: span 2;
}



.butterspritesheet {
	width: 200px;
	height: 200px;
	background-image: url(butterspritesheet.webp);
    background-repeat: no-repeat;
    display: block;
    background-position-y: -5px;
	filter: invert(1);

	position: absolute;

	scale: 100%;
	animation: flap 566.66ms linear infinite, move1 10s linear infinite;
	mix-blend-mode: difference;
}
