:root {
	--main-color1: white; /* Background */
	--main-color2: black; /* text - essentially black */
}


html {
	background-color: var(--main-color1);
	font-family: Lexend, helvetica, Sans-serif;
	color: var(--main-color2);
}

body {
	margin: 0px;
	overflow-x: hidden;
}

h1 {
	font-size: 12vw;
	margin-right: 20px;
	margin-left: 10px;
	margin-top: 70px;
	margin-bottom: 10px;
}

h2 {
	font-size:1.7vw;
	margin-left:30px;
	margin-top:10px;
}

nav {
	font-size: 1.7vw;
	line-height: 2.2;
	margin-left: 45px;
	margin-right: 77px;
	margin-top: 100px;
	text-align: right;
}

a {
	color: var(--main-color2);
	text-decoration: none;
}

img {
	width: 100%;
	object-fit: cover;
	overflow: clip;

}

.line {
	border-top: solid;
	border-width: 2px;
	width:90%;
	margin-left:5%;
}

.banner {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 5px;
	margin-top: 4%;
	margin-left: 6%;
	margin-right: 6%;
	margin-bottom: 100px; 
	padding-bottom: 12%;
	width: 88%;
}
.content {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 460px 460px 460px;
	gap: 11px;
	margin-top: 150px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 50px;
	padding-bottom: 100px;
	width: 80%;
}

.content > div {
	border-radius: 25px;
	background-color: #EFF7F6;
	background-size: 200%;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	height: 100%;
}

.content > div > h3 {
	display: inline-block; align-self: flex-end;
	font-size: 40px;
	margin: 20px;
	margin-top: 430px;
	color: var(--main-color1);
}

#hello {
	padding-bottom: 15%;
}

/* Scroll bar styling*/

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: black;
	border-left: 3px solid white;
	border-right: 3px solid white;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: #FF4A80;
}




/* Grid Areas*/
#renders {
	grid-template-areas:
		'a b c'
		'd e e'
		'f e e'
		'f g h'
		'i j k'
		'l m k'
		'n o p';
}

#itemA {
	grid-area: a;
}
#itemB {
	grid-area: b;
}
#itemC {
	grid-area: c;
}
#itemD {
	grid-area: d;
}
#itemE {
	grid-area: e;
}
#itemF {
	grid-area: f;
}
#itemG {
	grid-area: g;
}
#itemH {
	grid-area: h;
}
#itemI {
	grid-area: i;
}
#itemJ {
	grid-area: j;
}
#itemK {
	grid-area: k;
}
#itemL {
	grid-area: l;
}
#itemM {
	grid-area: m;
}
#itemN {
	grid-area: n;
}
#itemO {
	grid-area: o;
}
#itemP {
	grid-area: p;
}